.blogList {
  list-style-type: disc;
  padding-left: 20px;
  margin: 16px 0;
  color: var(--color-text-regular);
}

.blogList li {
  margin-bottom: 8px;
}

.blogList li:hover {
  color: var(--color-primary);
}
