.canvas {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-dark-background-regular);
}

@media (prefers-reduced-motion: reduce) {
  .canvas {
    display: none;
  }
}

@media (min-width: 1024px) {
  .canvas {
    display: block;
  }
}
