.blogCard {
  background-color: var(--color-background-dark);
  border-radius: 10px;
  padding: 32px;
  height: fit-content;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.readMore {
  color: var(--color-primary);
  font-weight: 800;
  font-size: 0.8rem;
}
